In [1]:
import pandas as pd
import numpy as np
import matplotlib.pylab as plt
import seaborn as sns

In [2]:
credits=pd.read_csv('../dataset/tmdb_5000_credits.csv')
movies=pd.read_csv('../dataset/tmdb_5000_movies.csv')

# Data Cleaning: 
1. Credits Dataset:
   - The **Cast and Crew feature** is a list that has a dictionary with key-value pair of the numerous characters and crew members respectively in the movie. Since it consists of a lot of characters we can only use the top 5 characters and only the director's name from the crew member since they are the one popularly recognized by audience. (Tideness)
3. Movies Dataset:
   - **Home Page**: 64% of the values are missing (Completeness)
   - **Tagline**: 17% of the values are missing (Completeness)
   - The **Genres, Keywords, Production_companines, Production_countries** is also inside a list with key-value pairs (Tideness)

In [3]:
print(f'The shape of the credits dataset is {credits.shape}')
print(f'The shape of the movies dataset is {movies.shape}')

The shape of the credits dataset is (4803, 4)
The shape of the movies dataset is (4803, 20)

In [4]:
credits.sample(5)

,movie_id,title,cast,crew
1979,20761,Play It to the Bone,"[{""cast_id"": 1, ""character"": ""Cesar Dominguez""...","[{""credit_id"": ""52fe43f8c3a368484e008853"", ""de..."
4408,18869,Jimmy and Judy,"[{""cast_id"": 5, ""character"": ""Jimmy Wright"", ""...","[{""credit_id"": ""52fe47a39251416c750a072d"", ""de..."
3862,50839,Margin Call,"[{""cast_id"": 2, ""character"": ""Sam Rogers"", ""cr...","[{""credit_id"": ""52fe47d8c3a36847f814b78f"", ""de..."
1714,9778,Serendipity,"[{""cast_id"": 1, ""character"": ""Jonathan Trager""...","[{""credit_id"": ""52fe452bc3a36847f80c03df"", ""de..."
885,9767,The Break-Up,"[{""cast_id"": 1, ""character"": ""Gary Grobowski"",...","[{""credit_id"": ""52fe4529c3a36847f80bfc6b"", ""de..."

In [5]:
movies.sample(3)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
158,150000000,"[{""id"": 878, ""name"": ""Science Fiction""}, {""id""...",NaN,13475,"[{""id"": 1612, ""name"": ""spacecraft""}, {""id"": 38...",en,Star Trek,The fate of the galaxy rests in the hands of b...,73.616808,"[{""name"": ""Paramount Pictures"", ""id"": 4}, {""na...","[{""iso_3166_1"": ""DE"", ""name"": ""Germany""}, {""is...",2009-05-06,385680446,127.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The future begins.,Star Trek,7.4,4518
2228,20000000,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 14, ""nam...",http://www.americancarol.com/,13948,"[{""id"": 949, ""name"": ""terrorist""}, {""id"": 9755...",en,An American Carol,"In An American Carol a cynical, Anti-American ...",2.605374,"[{""name"": ""Mpower Pictures"", ""id"": 5294}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2008-10-03,7000000,83.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,Laugh like you're country depends on it.,An American Carol,4.1,20
4021,0,"[{""id"": 18, ""name"": ""Drama""}]",NaN,21074,"[{""id"": 2692, ""name"": ""arranged marriage""}, {""...",en,Brick Lane,The grind of daily life as a Brick Lane Bangla...,0.262135,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2007-11-16,0,102.0,[],Released,NaN,Brick Lane,5.2,15

In [6]:
credits.isnull().mean()*100

movie_id    0.0
title       0.0
cast        0.0
crew        0.0
dtype: float64

In [7]:
movies.isnull().mean()*100

budget                   0.000000
genres                   0.000000
homepage                64.355611
id                       0.000000
keywords                 0.000000
original_language        0.000000
original_title           0.000000
overview                 0.062461
popularity               0.000000
production_companies     0.000000
production_countries     0.000000
release_date             0.020820
revenue                  0.000000
runtime                  0.041641
spoken_languages         0.000000
status                   0.000000
tagline                 17.572351
title                    0.000000
vote_average             0.000000
vote_count               0.000000
dtype: float64

In [8]:
credits.duplicated().sum()

0

In [9]:
movies.duplicated().sum()

0

In [10]:
movies=movies.merge(credits,on="title")
movies.shape

(4809, 23)

In [11]:
pd.set_option('display.max_columns', None)
movies.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,movie_id,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

Since I am focusing on making a content-based reccommendation system not all 23 columns is going to be useful. Thus, my goal is to just extract keywords that can help me reccommend a particular user. The columns that I will be using are: **Genres, id, keywords, overview, title, cast, crew**

In [12]:
movies=movies[['genres','id','keywords','overview','cast','crew','title']]

In [13]:
movies.sample(2)

,genres,id,keywords,overview,cast,crew,title
1636,"[{""id"": 53, ""name"": ""Thriller""}]",8978,"[{""id"": 726, ""name"": ""drug abuse""}, {""id"": 166...","On New Year's Eve, inside a police station tha...","[{""cast_id"": 8, ""character"": ""Sergeant Jake Ro...","[{""credit_id"": ""5399a25ec3a3681d1b00188f"", ""de...",Assault on Precinct 13
2046,"[{""id"": 10751, ""name"": ""Family""}, {""id"": 27, ""...",24100,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","Based on the popular books, the story tells of...","[{""cast_id"": 1, ""character"": ""Frederick Sackvi...","[{""credit_id"": ""52fe4482c3a368484e0271c7"", ""de...",The Little Vampire

In [14]:
movies.isnull().mean()*100

genres      0.000000
id          0.000000
keywords    0.000000
overview    0.062383
cast        0.000000
crew        0.000000
title       0.000000
dtype: float64

In [15]:
movies.dropna(inplace=True)

# Data Preprocessing:

In [16]:
movies.iloc[0].genres

'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'

In [17]:
import ast
def extractName(object):
    list=[]
    for keys in ast.literal_eval(object):
        if "name" in keys:
            list.append(keys["name"])
    return list

In [18]:
movies.genres=movies.genres.apply(extractName)

In [19]:
movies.iloc[0].genres

['Action', 'Adventure', 'Fantasy', 'Science Fiction']

In [20]:
movies.iloc[0].keywords

'[{"id": 1463, "name": "culture clash"}, {"id": 2964, "name": "future"}, {"id": 3386, "name": "space war"}, {"id": 3388, "name": "space colony"}, {"id": 3679, "name": "society"}, {"id": 3801, "name": "space travel"}, {"id": 9685, "name": "futuristic"}, {"id": 9840, "name": "romance"}, {"id": 9882, "name": "space"}, {"id": 9951, "name": "alien"}, {"id": 10148, "name": "tribe"}, {"id": 10158, "name": "alien planet"}, {"id": 10987, "name": "cgi"}, {"id": 11399, "name": "marine"}, {"id": 13065, "name": "soldier"}, {"id": 14643, "name": "battle"}, {"id": 14720, "name": "love affair"}, {"id": 165431, "name": "anti war"}, {"id": 193554, "name": "power relations"}, {"id": 206690, "name": "mind and soul"}, {"id": 209714, "name": "3d"}]'

In [21]:
movies.keywords=movies.keywords.apply(extractName)

In [22]:
def actor_name(object):
    list=[]
    count=0
    for keys in ast.literal_eval(object):
        if count<5:
            if "name" in keys:
                list.append(keys["name"])
                count+=1
    return list

In [23]:
movies.cast=movies.cast.apply(actor_name)

In [24]:
movies.iloc[0].cast

['Sam Worthington',
 'Zoe Saldana',
 'Sigourney Weaver',
 'Stephen Lang',
 'Michelle Rodriguez']

In [25]:
def director(object):
    list=[]
    for keys in ast.literal_eval(object):
        if keys['job']=='Director':
            list.append(keys['name'])
    return list

In [26]:
movies.crew=movies.crew.apply(director)

In [27]:
movies.iloc[0].crew

['James Cameron']

In [28]:
movies.head()

,genres,id,keywords,overview,cast,crew,title
0,"[Action, Adventure, Fantasy, Science Fiction]",19995,"[culture clash, future, space war, space colon...","In the 22nd century, a paraplegic Marine is di...","[Sam Worthington, Zoe Saldana, Sigourney Weave...",[James Cameron],Avatar
1,"[Adventure, Fantasy, Action]",285,"[ocean, drug abuse, exotic island, east india ...","Captain Barbossa, long believed to be dead, ha...","[Johnny Depp, Orlando Bloom, Keira Knightley, ...",[Gore Verbinski],Pirates of the Caribbean: At World's End
2,"[Action, Adventure, Crime]",206647,"[spy, based on novel, secret agent, sequel, mi...",A cryptic message from Bond’s past sends him o...,"[Daniel Craig, Christoph Waltz, Léa Seydoux, R...",[Sam Mendes],Spectre
3,"[Action, Crime, Drama, Thriller]",49026,"[dc comics, crime fighter, terrorist, secret i...",Following the death of District Attorney Harve...,"[Christian Bale, Michael Caine, Gary Oldman, A...",[Christopher Nolan],The Dark Knight Rises
4,"[Action, Adventure, Science Fiction]",49529,"[based on novel, mars, medallion, space travel...","John Carter is a war-weary, former military ca...","[Taylor Kitsch, Lynn Collins, Samantha Morton,...",[Andrew Stanton],John Carter

In [29]:
movies.overview=movies.overview.apply(lambda x:x.split())

In [30]:
def remove_space(object):
    list=[]
    for items in object:
        list.append(items.replace(" ",""))
    return list

In [31]:
movies.cast=movies.cast.apply(remove_space)
movies.crew=movies.crew.apply(remove_space)
movies.genres=movies.genres.apply(remove_space)
movies.keywords=movies.keywords.apply(remove_space)

In [32]:
movies.head(2)

,genres,id,keywords,overview,cast,crew,title
0,"[Action, Adventure, Fantasy, ScienceFiction]",19995,"[cultureclash, future, spacewar, spacecolony, ...","[In, the, 22nd, century,, a, paraplegic, Marin...","[SamWorthington, ZoeSaldana, SigourneyWeaver, ...",[JamesCameron],Avatar
1,"[Adventure, Fantasy, Action]",285,"[ocean, drugabuse, exoticisland, eastindiatrad...","[Captain, Barbossa,, long, believed, to, be, d...","[JohnnyDepp, OrlandoBloom, KeiraKnightley, Ste...",[GoreVerbinski],Pirates of the Caribbean: At World's End

# EDA: